body {
    background-color: rgb(34, 32, 34);
    color:rgb(239, 255, 255);
    font-size: 30px;
}

a {
    color:rgb(118, 235, 229);
    font-size: 30px;
}

header {
    font-size: 50px; 
    text-align: center;
}

td {
    text-align: center;
}

.topheader {
    position: sticky; 
    top: 0mm; 
    background-color: rgb(52, 50, 66); 
    width: 100%;
    margin: 0 auto; left:0mm
}
